body{
    background-color:gray;
  }
  span{
    cursor: pointer;
  }
 
  input{
    width: 50% !important;
  }
  h1{
    text-align: center;
    margin-top: 40px;
  }
  .op1{
    width: 60%;
    margin: auto;
    margin-top: 90px;
  }
 